<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="newbie,dev,test,stage,wxcus">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>

        <logger name="org.springframework.statemachine.support.LifecycleObjectSupport" level="ERROR"/>
    </springProfile>

    <springProfile name="prod">
        <appender name="SENTRY" class="com.getsentry.raven.logback.SentryAppender">
            <dsn>http://871951e9725944dcb4652fe2c67d8604:5f838db7c28648a6a170de40466516ee@sentry.sf-rush.com/2?options</dsn>
            <environment>\${SPRING_PROFILES_ACTIVE}</environment>
            <release>${version}</release>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="SENTRY" />
        </root>

        <logger name="org.springframework.statemachine.support.LifecycleObjectSupport" level="ERROR"/>
    </springProfile>
</configuration>
